<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <!-- logo -->
  <a class="navbar-brand">Proxibanque
    <img src="assets/img/logofeuille.png" width="30" height="30" class="d-inline-block align-top"><br>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-between">
      <!-- Ajout des router Link -->
      <a class="nav-item nav-link" routerLink="/list-clients/new-client">Ajouter client<img class="ml-2" src="assets/img/add.png" width="20" height="20"></a>
      <a class="nav-item nav-link" routerLink="/virement/virement" >Effectuer Virement<img  class="ml-2" src="assets/img/transfert.png" width="25" height="25"></a>
      <a class="nav-item nav-link" routerLink="/list-conseillers/new-conseiller" >Ajouter conseiller<img  class="ml-2" src="assets/img/add.png" width="25" height="25"></a>
      <a class="nav-item nav-link" routerLink="/reporting">Reporting<img  class="ml-2" src="assets/img/reporting.png" width="25" height="25"></a>
    </div>
  </div>

    <div class="pull-right">
        <!-- Ajout des router Link -->
        <a class="nav-item nav-link" routerLink="/logout"><img class="mr-2" src="assets/img/exit.png" width="20" height="20">Logout</a>
      </div>
</nav>
