<!-- Header -->
<app-header></app-header>

<!-- Formulaire client -->

<h1 class="h4 col-sm-4 mb-4 mt-5 offset-sm-1"><u>Modifier les information du client:</u></h1>


<form (ngSubmit)="!editForm.invalid && editClient()" #editForm="ngForm">

  <div class="container bg-light border border-dark py-5">
    <div class="form-group row">
      <label class="control-label col-sm-1" for="nom"><strong>Nom</strong></label>
      <div class="col-sm-3">
        <input required type="text" ngModel #nom="ngModel" class="form-control" id="nom" name="nom" placeholder="nom" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-1" for="prenom"><strong>Prenom</strong></label>
      <div class="col-sm-3">
        <input required type="text" ngModel class="form-control" id="prenom" name="prenom" placeholder="prenom">
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-1" for="adress"><strong>Adresse</strong></label>
      <div class="col-sm-3">
        <input required type="text" ngModel class="form-control" id="adress" name="adress" placeholder="adress">
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-1" for="email"><strong>Email</strong></label>
      <div class="col-sm-3">
        <input required type="email" ngModel class="form-control" id="email" name="email" placeholder="email">
      </div>
    </div>

  </div>
  <div class="form-group">
    <div class="mt-3  col-sm-3 offset-sm-2 ">
      <button type="submit" class="btn btn-outline-secondary">Enregistrer</button>
    </div>
  </div>

</form>
